<!-- Partial intended to be overwritten to add custom headers, like CSS or any other info -->
<style type="text/css">
    body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgba(0,0,0,0.8);
  line-height: 1.65;
  font-size: 1rem;
		}
		
@media screen and (min-width: 58em) {
  body {
    font-size: 20px;
  }
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: .5rem;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;
}

<!-- Making the center more smaller -->
#body .padding {
    padding: 3rem 7rem;
}
</style>

